<template>
  <v-combobox 
    v-model="selects"
    :item="listItems"
    :item-text="itemText"
    :item-value="itemValue"
    :label="label"
    :disabled="disabled"
    :rules="rules"
    :search-input.sync="searchInput"
    append-icon=""
    multiple
    small-chips
    hide-selected
  ></v-combobox>
</template>

<script>

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    itemText: {
      type: String,
      default: "descrip"
    },
    itemValue: {
      type: String,
      default: "recId"
    },
    label: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    rules: {
      type: Array,
    }
  },
  data() {
    return {
      searchInput: '',
    }
  },
  computed: {
    listItems() {
      return this.selects
    },
    selects: {
      get: function() {
        return this.items.map(e => e[this.itemText])
      },
      set: function (value) {
        this.searchInput = ''

        if (value.length == this.items.length) { // edit
          this._correctDuplicateInto(value)
        }
        this.$emit('update:items', this._updateItems(value))
      }
    }
  },
  methods: {
    _correctDuplicateInto(selectedItems) {
      for (let i = 0; i < selectedItems.length - 1; i++) {
        for (let j = i + 1; j < selectedItems.length; j++) {
          if (selectedItems[i] === selectedItems[j]) {
            selectedItems[i] = this.items[i][this.itemText]
            selectedItems[j] = this.items[j][this.itemText]
            break;
          }
        }
      }
    },
    _updateItems(value) {
      const updatedItems = []
      for (let i = 0; i < value.length; i++) {
        if (i >= this.items.length) {
          const newObj = {}
          newObj[this.itemText] = value[i]
          newObj[this.itemValue] = null
          updatedItems.push(newObj)
        } else {
          this.items[i][this.itemText] = value[i]
          updatedItems.push(this.items[i])
        }
      }
      return updatedItems
    }
  }
}

</script>