<template>
  <div id="app">
    items in app: {{items}}
    <as-list-field :items.sync="items" :disabled="true"  />
    <v-btn ></v-btn>
  </div>
</template>

<script>
import AsListField from './components/AsListField'

export default {
  name: 'app',
  data() {
    return {
      items: [{'descrip': '56-56-56', 'recId': 1}]
    }
  },
  components: {
    AsListField
  }
}
</script>

